################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dag 1/AppNr2/obj/Release/net10.0
/Dag 1/AppNr2/obj/Debug/net10.0/AppNr2.AssemblyInfo.cs
/Dag 1/AppNr2/obj/Debug/net10.0/AppNr2.AssemblyInfoInputs.cache
/Dag 1/AppNr2/obj/Debug/net10.0/AppNr2.assets.cache
/Dag 1/AppNr2/obj/Debug/net10.0/AppNr2.GeneratedMSBuildEditorConfig.editorconfig
